@import '../../styles.scss';

.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $meli-white;
    width: 100vw;
    padding-bottom: 1rem;

}