@import '../../styles.scss';


.path-container{
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    color: $meli-light-gray;
    padding: 1rem;
}

.path {
    margin: 0.2rem;

    &:not(:last-child)::after {
        content: ' >';
    }

    &:last-child{
        color: $meli-gray ;
        font-weight: 600;
    }
}
