$text-color: #999999;
$text-bold: #666666;


.path-container{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    color: $text-color;
    padding: 1rem;
}

.path {
    margin: 0.2rem;

    &:not(:last-child)::after {
        content: ' >';
    }

    &:last-child{
        color: $text-bold ;
        font-weight: 600;
    }
}