$meli-secondary: #EEEEEE;

.searchbar-container {
    display: flex;
    padding: 1rem;
}

.logo-container{
    background-color: $meli-secondary;
    border-radius: 2px;
    cursor: pointer;

    img{
        padding: 0.43rem;
    }
    
}

.search {
    width: 40rem;
    padding: 0.7rem;
    border-top-left-radius: 3px; /* Radio de borde superior izquierdo */
    border-bottom-left-radius: 3px; /* Radio de borde inferior izquierdo */
    border: $meli-secondary;
}

.search:focus{
    outline: none;
}